body {
    background-color: bisque;
    max-width: 500px;
    margin: auto;
    border-width: 3rem;
    line-height: 1.5rem;
}
.box {
    width: 500px;
    background-color: white;
    height: 1300px;
    border: 1px solid black;
    border-radius: 3rem;
    padding: 50px;
    margin: 10px;

}

img {
    width: 20rem;
    height: 10rem;
    border-radius: 2rem;
}

h1,h2 {
    color: rgb(227, 103, 20);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-decoration: underline;
}

P {
    color: black;
    font-family: cursive;
    display: block;
    align-items: center;
}

.end-img {
    /* padding: 20rem; */
    margin-left:2rem;
    height: 6rem;
    width: 26rem;
}